# 의존성 마이그레이션

버전 검토에서 확인된 마이그레이션 필요 사항을 기록합니다.

| 라이브러리 | 변경 | 마이그레이션 작업 | 로드맵/작업 | 상태 |
|-----------|------|-------------------|-------------|------|
{{#migration_rows}}
| {{coordinates}} | {{change}} | {{work}} | {{task_id}} | {{status}} |
{{/migration_rows}}
